<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179107877818-uqg7eu6m9nv7ujqcvsq0fl3kmt4k6e9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179107877818-uqg7eu6m9nv7ujqcvsq0fl3kmt4k6e9d</string>
	<key>API_KEY</key>
	<string>AIzaSyA6QwdPOJ524K70c07N0Y8kBO-SKmgHml8</string>
	<key>GCM_SENDER_ID</key>
	<string>179107877818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.forms</string>
	<key>PROJECT_ID</key>
	<string>notestaker</string>
	<key>STORAGE_BUCKET</key>
	<string>notestaker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179107877818:ios:4d7c28c6bbb6401a758383</string>
</dict>
</plist>